body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 36px;
    color: #333;
}

.admin-options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.option a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.option a:hover {
    background-color: #218838;
}
