@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    top:0px;
    margin: 0px;
    padding:0px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navi{
    margin-top: 0px;
    width: 100%;
    height: auto;
    position: sticky;
}

.free{
    background-color:#C6E6EA;
    height: auto;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 17px;
}

.navbar{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}


.cmpname{
    font-size: 20px;
}


.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.list li{
    margin: 8px;
}

.main-icons{
    margin-left: 5px;
}

.main-icons i{
    margin: 3px;
    cursor: pointer;
}

.title-sec{
    background-color:#C6E6EA;
    height: auto;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 24px;
}

.blog-sec{
    width: 90%;
    margin: 3px auto;
    height:auto;
    padding: 20px;
}

.cont-sec{
    width: 80%;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
    border: rgba(0,0,0,0.1) 1px solid;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.cont1-img{
    background: url('../images/blog-img-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}

.cont2-img{
    background: url('../images/blog-img-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}

.cont3-img{
    background: url('../images/blog-img-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}

.cont4-img{
    background: url('https://i.pinimg.com/474x/2f/f4/ce/2ff4ceeef4f68886bf8ce62eaad8bda9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}

.cont5-img{
    background: url('https://i.pinimg.com/236x/a5/82/79/a58279029147b0ef9e3550a838bb9610.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}

.cont6-img{
    background: url('https://i.pinimg.com/236x/56/f6/26/56f62602e55ddb4ca973b304fcf9227a.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
}


.cont1-img, .cont2-img, .cont3-img, .cont4-img, .cont5-img, .cont6-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 7px;
    margin: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.cont1-cont{
    width: 600px;
    text-align:justify;
}

.footer{
    background-color: #ece3e3;
    margin-top: 30px;
    height: auto;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}


.footer-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.f-sec{
    width: 200px;
    height: auto;
}

.footer-title{
    margin: 5px;
    margin-bottom: 14px;
}


.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-media i{
    margin: 10px;
    font-size: 28px;
    cursor: pointer;
}

.our-mission{
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.our-mission p{
    font-size: 14px;
    text-align: justify;
}

.navigation-list{
    list-style-type: none;
    margin-top: 35px;
}


.navigation-list li{
    margin-bottom: 10px;
    margin-left: 2px;
}

.arrow{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: orangered;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arrow:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.arrow p{
    font-weight: 600;
    font-size: 26px;
    color: white;
}

hr{
    width: 100px;
    height: 1px;
    background-color: rgb(43, 42, 42);
}

@media screen and (max-width: 600px) {
    .services {
        display: none;
    }
    .navbar {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont1-img, .cont2-img, .cont3-img, .cont4-img, .cont5-img, .cont6-img {
        width: 100%;
    }
}